<td>
  <div class="form-group">
    <%= f.text_field :room %>
  </div>
</td>
<td>
  <div class="form-group">
    <%= f.label :width_up_size, '上：' %>
    <%= f.number_field :width_up_size %>
  </div>
  <div class="form-group">
    <%= f.label :width_middle_size, '中：' %>
    <%= f.number_field :width_middle_size %>
  </div>
  <div class="form-group">
    <%= f.label :width_down_size, '下：' %>
    <%= f.number_field :width_down_size %>
  </div>
</td>
<td>
  <div class="form-group">
    <%= f.label :height_left_size, '左：' %>
    <%= f.number_field :height_left_size %>
  </div>
  <div class="form-group">
    <%= f.label :height_middle_size, '中：' %>
    <%= f.number_field :height_middle_size %>
  </div>
  <div class="form-group">
    <%= f.label :height_right_size, '右：' %>
    <%= f.number_field :height_right_size %>
  </div>
</td>
<td>
  <div class="form-group">
    <%= f.label :height_frame_depth, '縦：' %>
    <%= f.number_field :height_frame_depth %>
  </div>
  <div class="form-group">
    <%= f.label :width_frame_depth, '横：' %>
    <%= f.text_field :width_frame_depth %>
  </div>
</td>