<div class="container-fluid bg-image">
  <div class="container">
    <div class="row justify-content-center">
      <%= image_tag 'logo', class: 'logo col-md-8 col-lg-5' %>
    </div>
    <div class="buttons mt-5">
      <div class="row justify-content-center p-3">
        <%= link_to 'メールアドレスで登録', sign_up_step1_path, class: 'btn btn-light btn-light-custom col-10 col-md-5 col-lg-3' %>
      </div>
      <div class="row justify-content-center p-3">
        <%= link_to(user_line_omniauth_authorize_path, class: 'row col-10 col-md-5 col-lg-3 text-center line-btn bright-color', method: :post) do %>
          <span class="col align-self-center line-text">LINEで登録</span>
        <% end %>
      </div>
      <div class="row justify-content-center p-3">
        <%= link_to(user_google_oauth2_omniauth_authorize_path, class: 'row col-10 col-md-5 col-lg-3 text-center google-btn', method: :post) do %>
          <span class="col align-self-center google-text">Googleで登録</span>
        <% end %>
      </div>
    </div>
    <div class="text row justify-content-center mt-3 mt-md-5">
      <div class="col col-lg-3 border-bottom mb-3 bright-color"></div>
      <p class='col-8 col-sm-6 col-md-5 col-lg-3 p-0 text-center mb-1 fw-bold bright-color'>アカウントをお持ちでない方</p>
      <div class="col col-lg-3 border-bottom mb-3 bright-color"></div>
    </div>
    <div class="row justify-content-center text-center p-3">
      <%= link_to 'ログイン', sign_in_index_path, class: 'btn btn-primary col-10 col-md-5 col-lg-3' %>
    </div>
  </div>
</div>