<div class="bar mt-5">
  <!--ここに進捗バーが表示 -->
</div>
<div class="container" style="margin-top: 15vh;">
  <%= form_with url: sign_up_step2_path, method: :get ,local: true, class: 'row justify-content-center' do |f| %>
    <div class="col-11 col-md-8 col-lg-5 mb-3 mb-md-4">
      <%= f.label :name, '名前', class: 'form-label' %><span class="badge bg-danger ms-2">必須</span><br />
      <%= f.text_field :name, class: 'form-control', autocomplete: 'name', maxlength:'15', required: true %>
    </div>
    <div class="d-none d-lg-block col-lg-12"></div>
    <div class="col-11 col-md-8 col-lg-5 mb-3 mb-md-4">
      <%= f.label :email, 'メールアドレス', class: 'form-label' %><span class="badge bg-danger ms-2">必須</span><br />
      <%= f.email_field :email, class: 'form-control', autocomplete: 'email', required: true %>
    </div>
    <!--jsでパスワードが一致していないとき、警告を入れる予定-->
    <div class="d-none d-lg-block col-lg-12"></div>
    <div class="col-11 col-md-8 col-lg-5 mb-3 mb-md-4">
      <%= f.label :password, 'パスワード', class: 'form-label' %><span class="badge bg-danger ms-2">必須</span><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password', required: true %>
    </div>
    <div class="d-none d-lg-block col-lg-12"></div>
    <div class="col-11 col-md-8 col-lg-5 mb-3 mb-md-4">
      <%= f.label :password_confirmation, 'パスワード(確認用)', class: 'form-label' %><span class="badge bg-danger ms-2">必須</span><br />
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'new-password', required: true %>
    </div>
    <div class="row justify-content-center p-3 submit-btn mb-lg-5">
      <%= f.submit '次へ', class: 'btn btn-primary col-9 col-md-4 col-lg-2' %>
    </div>
  <% end %>
</div>