<div class="bar mt-5">
  <!--ここに進捗バーが表示 -->
</div>
<div class="container" style="margin-top: 28vh;">
  <%= form_with url: sign_up_create_path, local: true, class: 'row justify-content-center' do |f| %>
    <div class="col-11 col-md-8 col-lg-5 mb-3 mb-md-4">
      <%= f.label :confirmation_code, '認証コード', class: 'form-label' %><span class="badge bg-danger ms-2">必須</span><br />
      <%= f.number_field :confirmation_code,class: 'form-control', autocomplete: 'confirmation_code', required: true %>
    </div>
    <div class="row justify-content-center p-3">
      <%= f.submit '認証', class: 'btn btn-primary col-9 col-md-4 col-lg-2' %>
    </div>
  <% end %>
  <div style='margin-top: 10vh;'>
    <div class="text-center">
      <h5>メールが届かない場合</h5>
      <%= link_to 'こちら', 'javascript:void(0)', class: 'text-primary border-bottom border-primary' ,'data-bs-toggle':"collapse", role: "button", href: "#collapseList", "aria-expanded":"false", "aria-controls":"collapseList" %>をご確認ください
    </div>
    <div class="collapse row justify-content-center mt-3" id='collapseList'>
      <ul class="list-group list-group-numbered mb-3 col-11 col-md-8 col-lg-5">
        <li class='list-group-item'>迷惑メールフォルダの確認</li>
        <li class='list-group-item'>メールアドレスの再確認</li>
        <li class='list-group-item'>メールフィルタの設定</li>
        <li class='list-group-item'>通信環境の確認</li>
        <li class='list-group-item'>再送信の試行<br>「再送するボタン」を押してください</li>
      </ul>
      <div class="row justify-content-center p-3 mb-3">
        <!-- 3分に一回押せるようにする -->
        <%= link_to '再送する', sign_up_resend_confirmation_code_path, class: 'btn btn-primary col-9 col-md-4 col-lg-2 '%>
      </div>
    </div>
  </div>

</div>