<div class="row justify-content-center">
  <div class="col-11 text-center">
    <p class="fw-bold">W寸法</p>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4 order-lg-1">
    <%= inner_sash.label :width_up_size, '上', class: 'form-label' %>
    <%= inner_sash.number_field :width_up_size, required: true, min: 1, tabindex: "2", class: 'size-form form-control' %>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4 order-lg-3">
    <%= inner_sash.label :width_down_size, '下', class: 'form-label' %>
    <%= inner_sash.number_field :width_down_size, required: true, min: 1, tabindex: "4", class: 'size-form form-control' %>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4 order-lg-2">
    <%= inner_sash.label :width_middle_size, '中', class: 'form-label' %>
    <%= inner_sash.number_field :width_middle_size, required: true, min: 1, tabindex: "3", class: 'size-form form-control' %>
  </div>
  <div class="col-5 col-lg-none order-lg-4"></div>
</div>
<div class="row justify-content-center">
  <div class="col-11 text-center">
    <p class="fw-bold">H寸法</p>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4 order-lg-1">
    <%= inner_sash.label :height_left_size, '左', class: 'form-label' %>
    <%= inner_sash.number_field :height_left_size, required: true, min: 1, tabindex: "5", class: 'size-form form-control' %>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4 order-lg-3">
    <%= inner_sash.label :height_right_size, '右', class: 'form-label' %>
    <%= inner_sash.number_field :height_right_size, required: true, min: 1, tabindex: "7", class: 'size-form form-control' %>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4 order-lg-2">
    <%= inner_sash.label :height_middle_size, '中', class: 'form-label' %>
    <%= inner_sash.number_field :height_middle_size, required: true, min: 1, tabindex: "6", class: 'size-form form-control' %>
  </div>
  <div class="col-5 order-lg-4"></div>
</div>
<div class="row justify-content-center">
  <div class="col-11 text-center">
    <p class="fw-bold">窓枠見込み</p>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4">
    <%= inner_sash.label :height_frame_depth, '縦', class: 'form-label' %>
    <%= inner_sash.number_field :height_frame_depth, required: true, min: 1, tabindex: "8", class: 'size-form form-control' %>
  </div>
  <div class="col-5 col-lg-3 mb-3 mb-md-4">
    <%= inner_sash.label :width_frame_depth, '横', class: 'form-label' %>
    <%= inner_sash.number_field :width_frame_depth, required: true, min: 1, tabindex: "9", class: 'size-form form-control' %>
  </div>
</div>