<%= turbo_stream.update 'basic-info' do %>
  <%= form_with model: @inner_sash, url: inner_sashes_update_path(@inner_sash.id), class: 'row justify-content-center' do |inner_sash| %>
    <div class="col-12 col-md-10 col-lg-7">
      <%= render 'basic_info_fields', inner_sash: inner_sash %>
      <%= render 'size_fields', inner_sash: inner_sash%>
    </div>
    <%= inner_sash.hidden_field :template, value: 'basic_info'  %>
    <div class="row justify-content-center p-3 mb-lg-2">
      <%= inner_sash.submit '保存', class: 'btn btn-primary col-9 col-md-4 col-lg-2' %>
    </div>
  <% end %>
  <div class="row justify-content-center p-3 mb-lg-5">
    <%= link_to 'キャンセル', inner_sashes_switch_path(template: 'basic_info', id: @inner_sash.id), data: {turbo_stream: true}, class: 'btn btn-secondary col-9 col-md-4 col-lg-2' %>
  </div>
<% end %>