<p>new_step3</p>
<%= form_with model: @site_memo, url: inner_sashes_basic_append_path, local: true do |f| %>
  <table>
    <tr>
      <th>部屋</th>
      <th>タイプ</th>
      <th>色</th>
      <th>障子枚数</th>
      <th>吊元（開きのみ）</th>
    </tr>
    <%= f.fields_for :inner_sashes, @site_memo.inner_sashes do |inner_sash| %>
      <tr>
        <td><%= inner_sash.object.room %></td>
        <td><%= inner_sash.select :sash_type, [["引き違い",1],["開き",2]]%></td>
        <td><%= inner_sash.select :color, InnerSash.colors.keys.map{ |k| [I18n.t("enums.inner_sash.color.#{k}"),k] }, {prompt: '選択してください'}, required: true %></td>
        <td><%= inner_sash.select :number_of_shoji, (1..2).each { |i| ["#{i}",i]} %></td>
        <td><%= inner_sash.check_box :hanging_origin, {},"right", nil %>右 <%= f.check_box :hanging_origin, {},"left", nil %>左</td>
      </tr>
    <% end %>
  </table>
<%= f.submit '次へ' %>
<% end %>