<%= render 'site_label', parent: @site_memo.site %>
<div class="d-none d-lg-block">
  <%= render 'new_added_index' %>
</div>

<!-- モバイル用 -->
<section id="mobile" class='d-lg-none'>
  <div class="container" style="margin-top:15vh";>  
    <div style="margin-top: 5vh;">
      <%= form_with model: @site_memo, url: inner_sashes_new_append_photo_and_others_path, local: true, class: "row justify-content-center" do |f| %>
        <%= render 'layouts/alert', obj: f.object %>
        <%= f.fields_for :inner_sashes do |inner_sash| %>
          <div class="mb-4 d-lg-none col-12 col-md-6">
            <div class="card card-custom">
              <div class="card-body">
                <div class="row mb-1">
                  <div class="form_group">
                    <h5 class="col-7 card-title text-truncate">
                      <%= inner_sash.text_field :room, required: true, class: 'border-0' %>
                    </h5>
                  </div>
                  <%= render 'accessorie_fields', inner_sash: inner_sash %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col text-center mt-1">
          <%= f.label :remark, '備考', class: 'form-label h5' %>
          <%= f.text_area :remark, class: 'form-control', placeholder: '現場の気になったことを記入' %>
        </div>
        <div class="row justify-content-center p-3 mb-3 mb-lg-5 mt-3">
          <%= f.submit '次へ', class: 'btn btn-primary col-9 col-md-4 col-lg-2' %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- pc用 -->
<section id="pc" class='d-none d-lg-block'>
  <div class="container mt-5">  
    <div class="row g-0 border-bottom border-custom p-3 text-center">
      <h5 class="col fw-bold">部屋</h5>
      <h5 class="col fw-bold">平板</h5>
      <h5 class="col fw-bold">アジャスト上枠</h5>
    </div>
    <%= form_with model: @site_memo, url: inner_sashes_new_append_photo_and_others_path, local: true, class: "row justify-content-center" do |f| %>
      <%= render 'layouts/alert', obj: f.object %>
      <%= f.fields_for :inner_sashes do |inner_sash| %>
        <%= render 'accessorie_fields', inner_sash: inner_sash %>
      <% end %>
      <div class="col-8 text-center mt-4">
        <%= f.label :remark, '備考', class: 'form-label h5' %>
        <%= f.text_area :remark, class: 'form-control', placeholder: '現場の気になったことを記入' %>
      </div>
      <div class="row justify-content-center p-3 mb-3 mb-lg-5 mt-4">
        <%= f.submit '次へ', class: 'btn btn-primary col-9 col-md-4 col-lg-2' %>
      </div>
    <% end %>
  </div>
</section>



<% if false %>
<%= form_with model: @site_memo, url: inner_sashes_new_append_photo_and_others_path, local: true do |site_memo| %>
  <%= render 'layouts/alert', obj: site_memo.object %>
  
  <%= site_memo.fields_for :inner_sashes do |inner_sash| %>
    <div class="form_group">
      <%= inner_sash.label :room, '部屋名' %>
      <%= inner_sash.text_field :room %>
    </div>
    <%= render 'accessorie_fields', inner_sash: inner_sash %>
    
    <%= inner_sash.fields_for :photos do |photo| %>
      <%= render 'photo_fields', f: photo %>
    <% end %>

    <div class="links">
      <%= link_to_add_association '追加', inner_sash, :photos %>
    </div>

  <% end %>

  <div class="form-group">
    <%= site_memo.label :remark, '備考' %>
    <%= site_memo.text_area :remark %>
  </div>
  <%= site_memo.submit '次へ' %>
<% end %>

<% end %>


<%= stylesheet_link_tag "new", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>