<p>new_step3</p>
<%= form_with model: @form, url: inner_sashes_new_append_basic_info_path, local: true do |f| %>
  <%= render 'layouts/alert', obj: f.object %>
  <%= f.fields_for :inner_sashes do |inner_sash| %>
    <%= inner_sash.object.attributes %>
    <%= render 'form_basic_info', inner_sash: inner_sash %>
  <% end %>
<%= f.submit 'æ¬¡ã¸' %>
<% end %>