<p>new_step6</p>
<%= form_with model: @site_memo, url: inner_sashes_photo_append_path, local: true do |f| %>
  <%= f.hidden_field :id, value: @site_memo.id %>
  <table>
    <tr>
      <th>部屋</th>
      <th>写真</th>
      <th>備考</th>
    </tr>
    <%= f.fields_for :inner_sashes, @site_memo.inner_sashes do |inner_sash| %>
      <tr>
        <td><%= inner_sash.object.room %></td>
        <!-- ヘルパーメソッドを使って写真が既にある場合とない場合で分ける　分けないと写真があった場合にviewに表示されない-->
        <% if inner_sash.object.inner_sash_photos.blank? %>
          <%= inner_sash.fields_for :inner_sash_photos, inner_sash.object.inner_sash_photos.build do |photo| %>
            <td><%= photo.file_field :file_name %></td>
          <% end %>
        <% else %>
          <%= inner_sash.fields_for :inner_sash_photos, inner_sash.object.inner_sash_photos do |photo| %>
            <%= image_tag photo.object.file_name.url %>
            <td><%= photo.file_field :file_name %></td>
          <% end %>
        <% end %>
        <td><%= inner_sash.text_area :remark %></td>
        <%= inner_sash.hidden_field :id, value: inner_sash.object.id %>
      </tr>
    <% end %>
  </table>
  <%= f.submit '次へ' %>
<% end %>