<div id="room-list">
  <% @inner_sashes.each do |inner_sash| %>
    <%= inner_sash.site_memo.room %>
  <% end %>
</div>
<%= turbo_frame_tag 'inner-sash-size-form' do %>
  <%= form_with model: @inner_sash, url: inner_sashes_new_append_room_path, data: { turbo_stream: true } do |f|%>
    <div class="form-group">
      <%= f.label :room, '部屋' %>
      <%= f.text_field :room, required: true%>
    </div>
    <%= render partial: 'form_size', locals: { inner_sash: f } %>
    <%= f.submit '追加' %>
  <% end %>
<% end %>
<%= link_to '次へ', inner_sashes_new_step3_path %>