<%= turbo_stream.update 'room-list' do %>
  <%= render @inner_sashes %>
<% end %>

<%= turbo_stream.update 'inner-sash-size-form' do %>
  <%= form_with model: @inner_sash, url: inner_sashes_new_append_room_path, data: { turbo_stream: true } do |f|%>
    <%= render 'layouts/alert', obj: f.object %>
    <div class="form-group">
      <%= f.label :room, '部屋' %>
      <%= f.text_field :room, required: true%>
    </div>
    <%= render 'form_size', inner_sash: f %>
    <%= f.submit '追加' %>
  <% end %>
<% end %>