<p>new_step5</p>
<%= form_with model: @site_memo, url: inner_sashes_new_append_photo_and_others_path, local: true do |f| %>
  <%= f.fields_for :inner_sashes do |inner_sash| %>
    <%= render 'form_new_photo_others', inner_sash: inner_sash %>
  <% end %>
  <div class="form-group">
    <%= f.label :remark, '備考' %>
    <%= f.text_area :remark %>
  </div>
  <%= f.submit '次へ' %>
<% end %>