<%= turbo_stream_alert %>

<%= turbo_stream.update 'room-list' do %>
  <% @inner_sashes.each do |inner_sash| %>
    <%= inner_sash.site_memo.room %>
  <% end %>
<% end %>

<%= turbo_stream.update 'inner-sash-size-form' do %>
  <%= form_with model: @inner_sash, url: inner_sashes_new_append_room_path, data: { turbo_stream: true } do |f|%>
    <div class="form-group">
      <%= f.label :room, '部屋' %>
      <%= f.text_field :room %>
    </div>
    <%= render partial: 'form_size', locals: { inner_sash: f } %>
    <%= f.submit '追加' %>
  <% end %>
<% end %>