<%= turbo_stream.update 'room-list' do %>
  <%= render @inner_sashes %>
<% end %>

<%= turbo_stream.update 'inner-sash-size-form' do %>
  <%= form_with model: @inner_sash, url: inner_sashes_new_append_room_path, data: { turbo_stream: true } do |inner_sash|%>
    <%= render 'layouts/alert', obj: inner_sash.object %>
    <div class="form-group">
      <%= inner_sash.label :room, '部屋' %>
      <%= inner_sash.text_field :room, required: true%>
    </div>
    <%= render 'size_fields', inner_sash: inner_sash %>
    <%= inner_sash.submit '追加' %>
  <% end %>
<% end %>