<%= turbo_stream_flash %>
<%= turbo_stream.update 'room' do %>
  <p class='m-0'><%= @inner_sash.room %></p>
<% end %>
<%= turbo_stream.update 'edit-btn' do %>
  <div>
    <%= link_to '編集', inner_sashes_edit_room_path(@inner_sash.id), class: 'btn btn-primary px-4 py-0', data:{ turbo_stream: true} %>
  </div>
<% end %>