<p>内窓詳細</p>

<p>元請</p><%= @inner_sash.site_memo.site.contractor.name %>
<p>現場名</p><%= @inner_sash.site_memo.site.name %>
<p>住所</p><%= @inner_sash.site_memo.site.address %><br/>
<%= turbo_frame_tag 'order-link' do %>
  <%= render partial: 'layouts/order_link', locals: {order_key: @order_key, inner_sash: @inner_sash} %>
<% end %>
<%= link_to '削除', inner_sashes_destroy_path(id: @inner_sash.id), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
<%= render @inner_sash %>
<%= link_to '次', inner_sashes_navigate_page_path(id: @inner_sash.next) if @inner_sash.next.present? %>
<%= link_to '前', inner_sashes_navigate_page_path(id: @inner_sash.previous) if @inner_sash.previous.present? %>