<p>内窓詳細</p>

<p>元請</p><%= @inner_sash.site_memo.site.contractor.name %>
<p>現場名</p><%= @inner_sash.site_memo.site.name %>
<p>住所</p><%= @inner_sash.site_memo.site.address %><br/>
<%= turbo_frame_tag 'order-link' do %>
  <%= render partial: 'layouts/order_link', locals: {order_key: @order_key, inner_sash: @inner_sash} %>
<% end %>
<%= @inner_sash.site_memo.room %>
<%= @inner_sash.site_memo.kind_i18n %>
<%= @inner_sash.site_memo.order %>

<!-- W寸法 -->
<%= @inner_sash.width_up_size %>
<%= @inner_sash.width_middle_size %>
<%= @inner_sash.width_down_size %>

<!-- H寸法 -->
<%= @inner_sash.height_left_size %>
<%= @inner_sash.height_middle_size %>
<%= @inner_sash.height_right_size %>

<!-- 窓台見込み -->
<%= @inner_sash.height_frame_depth %>
<%= @inner_sash.width_frame_depth %>

<!-- 基本情報 -->
<%= @inner_sash.sash_type_i18n %>
<%= @inner_sash.color_i18n %>
<%= @inner_sash.number_of_shoji %>
<%= @inner_sash.hanging_origin_i18n %>

<!-- 枠 -->
<%= @inner_sash.is_adjust ? "有" : "無" %>

<%# 障子 %>
<%= @inner_sash.middle_frame_height %>
<%= @inner_sash.key_height %>

<%# ガラス %>
<%= @inner_sash.glass_kind_i18n %>
<%= @inner_sash.glass_color_i18n %>
<%= @inner_sash.glass_thickness_i18n %>
<%= @inner_sash.is_low_e ? "有" : "無" %>

<%# その他 %>
<%= @inner_sash.is_flat_bar ? "有" : "無" %>

<%# 写真 %>
