<%= render 'site_label', parent: @inner_sash.site_memo.site  %>
  <div class="container" style='margin-top:88px;'>
  <div class="row d-sm-none">
    <div class="col <%= @inner_sash.order %>-label p-1 mb-2">
      <%= turbo_frame_tag 'order' do %>
        <p class='bright-color m-0'><%= @inner_sash.order_i18n %></p>
      <% end %>
    </div>
  </div>
  <div class="row align-items-center text-center mb-3" style='height:60px;'>
    <%= turbo_frame_tag 'room', class: 'col' do %>
      <p class='m-0'><%= @inner_sash.room %></p>
    <% end %>
    <div class="col">
      <p class='m-0'>内窓</p>
    </div>
    <%= turbo_frame_tag 'edit-btn', class: 'col' do %>
      <div>
        <%= link_to '編集', inner_sashes_edit_room_path(@inner_sash.id), class: 'btn btn-primary px-4 py-0', data:{ turbo_stream: true} %>
      </div>
    <% end %>
    <div class="col-2 d-none d-sm-block">
      <%= turbo_frame_tag 'order-pc' do %>
        <div class="badge <%= @inner_sash.order %>-label py-1 px-3">
          <p class='bright-color m-0'><%= @inner_sash.order_i18n %></p>
        </div>
      <% end %>
    </div>
    <div class="col-1 p-0 dropdown d-lg-none">
      <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical h1"></i>
      </a>
      <ul class="dropdown-menu mt-2">
        <li>
          <%= turbo_frame_tag 'order-link', class: 'dropdown-item'  do %>
            <%= render partial: 'order_link', locals: {order_key: @order_key, inner_sash: @inner_sash} %>
          <% end %>
        </li>
        <li>
          <p class='dropdown-item m-0'>
            <%= link_to '削除', inner_sashes_destroy_path(id: @inner_sash.id), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }%>
          </p>
        </li>
      </ul>
    </div>
    <div class="col d-none d-lg-block">
      <%= turbo_frame_tag 'order-link-pc' do %>
        <%= render partial: 'order_link', locals: {order_key: @order_key, inner_sash: @inner_sash} %>
      <% end %>
    </div>
    <div class="col d-none d-lg-block">
        <%= link_to '削除', inner_sashes_destroy_path(id: @inner_sash.id), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-danger px-4 py-0'%>
    </div>
  </div>
  <%= turbo_frame_tag 'inner-sash-data-wrap' do %>
    <%= turbo_frame_tag 'drawing' do %>
      <%= render 'drawing_tabs', {inner_sash: @inner_sash, opening: 'active'} %>
      <div class="row justify-content-center" style='height:350px;'>
        <%= render 'drawing', inner_sash: @inner_sash %>
      </div>
    <% end %>
    <%= turbo_frame_tag 'inner-sash-data' do %>
      <%= render 'tabs' %>
      <%= render 'basic_info', inner_sash: @inner_sash %>
    <% end %>
  <% end %>
</div>

<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>

<% content_for :js do %>
  <%= javascript_import_module_tag "draw_opening" %>
<% end %>