<p>内窓詳細</p>

<p>元請</p><%= @inner_sash.site_memo.site.contractor.name %>
<p>現場名</p><%= @inner_sash.site_memo.site.name %>
<p>住所</p><%= @inner_sash.site_memo.site.address %><br/>
<%= turbo_frame_tag 'order-link' do %>
  <%= render partial: 'layouts/order_link', locals: {order_key: @order_key, inner_sash: @inner_sash} %>
<% end %>
<div id="inner-sash-delete">
  <%= link_to '削除', inner_sashes_destroy_path(id: @inner_sash.id), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }%>
</div>
<%= turbo_frame_tag 'inner-sash-data' do %>
  <%= link_to '基本情報・枠', inner_sashes_basic_info_path(id: @inner_sash.id) %>
  <%= link_to '障子・ガラス', inner_sashes_shoji_and_glass_path(id: @inner_sash.id ) %>
  <%= link_to '写真・その他', inner_sashes_photo_and_others_path(id: @inner_sash.id) %>
  <div>
    <%= render partial: 'basic_info' , locals: {inner_sash: @inner_sash}%>
  </div>
  <%= link_to '次', inner_sashes_navigate_page_path(id: @inner_sash.next), data: {turbo_method: :post} if @inner_sash.next.present? %>
  <%= link_to '前', inner_sashes_navigate_page_path(id: @inner_sash.previous), data: {turbo_method: :post} if @inner_sash.previous.present? %>
<% end %>