
<% site_memo.inner_sashes.each do |inner_sash| %>
  <% order = inner_sash.order_i18n %>
  <%= turbo_frame_tag dom_id(inner_sash), class:'col-12 col-md-6 col-lg-4' do %>
    <div class='card card-custom mb-4'>
      <div class="card-body">
        <div class="row mb-1">
          <h5 class="col-7 card-title text-truncate"><%= inner_sash.room %></h5>
          <div class="col-4">
            <% if order == '未発注' %>
              <span class="badge bg-danger ps-3 pe-3"><%= order %></span>
            <% else %>
              <span class="badge bg-primary ps-3 pe-3"><%= order %></span>
            <% end %>
          </div>
          <a class="text-center p-0 col-1 dorpdown-toggle dropdown-toggle-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="mx-auto bi bi-three-dots-vertical h5"></i>
          </a>
          <ul class='col-5 dropdown-menu text-center'>
            <li><%= link_to '削除', site_memos_destroy_path(kind: site_memo.kind, child_id: inner_sash.id),class: 'dropdown-item danger-color p-0' ,data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></li>
          </ul>
        </div>
        <div class='row justify-content-center position-relative mt-3'>
          <div class='col-11 row border-index p-1 mb-3'>
            <span class='col-4'>施工内容</span>
            <span class='col-7'><%= site_memo.kind_i18n %></span>
          </div>
          <div class='col-11 row border-index p-1 mb-3'>
            <span class='col-4'>タイプ</span>
            <span class='col-7'><%= inner_sash.sash_type_i18n %></span>
          </div>
          <%# リンク広がっている %>
          <%= link_to '', site_memos_show_switcher_path(kind: site_memo.kind, id: inner_sash.id), data: { turbo: false }, class: 'to-memo-link' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>