<!-- <p>元請:<%= @site.contractor.name %></p>
<p>現場名:<%= @site.name %></p>
<p>住所:<%= @site.address %></p> -->


<% if @site_memos.blank? %>
  <p>メモはありません</p>
<% else %>
  <%= turbo_frame_tag "site-memos-list" do %>
    <%= render 'bulk_order_link' %>
    <%= render @site_memos %>
  <% end %>
<% end %>

<!-- モバイル用 -->
<section class='d-lg-none' id="mobile">
  <div class="container" style="margin-top: 5vh;">
    <div class="row justify-content-center">
      <div class="row justify-content-end p-3 mb-lg-5 z-3">
        <%= link_to site_memos_new_step1_path(@site.id), class: 'btn-circle submit-btn col-3 col-md-4 col-lg-2 p-0 text-center' do %>
          <i class="bi bi-plus plus"></i>
        <% end %>
      </div>
      <div class='index'>
        <% if @site_memos.blank? %>
          <p>メモはありません</p>
        <% else %>
          <%= turbo_frame_tag 'sites-memos-list', class: 'row justify-content-center' do %>
            <%= render 'bulk_order_link' %>
            <%= render @site_memos %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

<!--
<div class='heading'>
  <p>設置場所</p>
  <p>内容</p>
  <p>タイプ</p>
</div>

<%= link_to 'メモ追加', site_memos_new_step1_path(@site.id) %>
<% if @site_memos.blank? %>
  <p>メモはありません</p>
<% else %>
  <%= turbo_frame_tag "site-memos-list" do %>
    <%= render 'bulk_order_link' %>
    <%= render @site_memos %>
  <% end %>
<% end %>
-->