<p>元請:<%= @site.contractor.name %></p>
<p>現場名:<%= @site.name %></p>
<p>住所:<%= @site.address %></p>

<% if @site_memos.present? %>
  <% @site_memos.each do |site_memo| %>
    <% site_memo_children(site_memo).each do |child| %>
      <table>
        <tr>
          <th>設置場所</th>
          <th>内容</th>
          <th>タイプ</th>
          <th></th>
        </tr>
        <tr>
          <td><%= child.room %></td>
          <td><%= site_memo.kind_i18n %></td>
          <!-- sashと書かれているところは内容の項目によって動的に変える予定。door, screenなど-->
          <td><%= child.sash_type_i18n %></td>
          <td></td> 
        </tr>
        <!-- 以下のリンクはテーブルの行に広げる予定 -->
        <tr>
          <td><%= link_to '詳細', site_memos_show_switcher_path(kind: site_memo.kind, id: child.id) %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
<% else %>
  <p>メモはありません</p>
<% end %>
<%= link_to 'メモ追加', site_memos_new_step1_path(@site.id) %>