<p>元請:<%= @site.contractor.name %></p>
<p>現場名:<%= @site.name %></p>
<p>住所:<%= @site.address %></p>

<% @site_memos.each do |site_memo| %>
  <% if site_memo.inner_sash.present? %>
    <div>
      <div class='heading'>
        <p>設置場所</p>
        <p>内容</p>
        <p>タイプ</p>
      </div>
      <div>
        <%= site_memo.room %>
        <%= site_memo.kind_i18n %>
        <!-- sashと書かれているところは内容の項目によって動的に変える予定。door, screenなど-->
        <%= site_memo.inner_sash.sash_type_i18n %>
      </div>
      <div>
        <%= site_memo.order_i18n %>
      </div>
      <!-- 以下のリンクはテーブルの行に広げる予定 -->
      <%= link_to '詳細', site_memos_show_switcher_path(kind: site_memo.kind, id: site_memo.inner_sash.id) %>
    </div>
    <%= link_to "一括#{SiteMemo.orders_i18n[@order_key.to_sym]}",
        site_memos_update_bulk_order_path(@site.id, params: { order: @order_key }),
        data: {turbo_method: "post", turbo_confirm: "全て#{SiteMemo.orders_i18n[@order_key.to_sym]}にしますか？(表示されていないものも含みます)"} %> 
  <% else %>
    <p>メモはありません</p>
  <% end %>
<% end %>
<%= link_to 'メモ追加', site_memos_new_step1_path(@site.id) %>
<%= paginate @site_memos %>