<p>元請:<%= @site.contractor.name %></p>
<p>現場名:<%= @site.name %></p>
<p>住所:<%= @site.address %></p>

<% if @site_memos.present? %>
  <% @site_memos.each do |site_memo| %>
    <table>
      <tr>
        <th>内容</th>
      </tr>
      <tr>
        <td><%= site_memo.kind %></td> 
      </tr>
    </table>
  <% end %>
<% else %>
  <p>メモはありません</p>
<% end %>
<%= link_to 'メモ追加', site_memos_new_step1_path(@site.id) %>