<p>内窓用フォーム</p>

<%= form_with model: @site_memo, url: site_memos_new_step3_inner_sash_path, method: :get, local: true do |f| %>
  <table>
    <tr>
      <th>部屋</th>
      <th>W寸法</th>
      <th>H寸法</th>
      <th>窓枠見込み</th>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= f.text_field :room %>
        </div>
      </td>
      <%= f.fields_for :inner_sashs do |t| %>
        <%= render 'inner_sash_fields', f: t %>
      <% end %>
    </tr>
    <div id="detail-association-insertion-point"></div>
  </table>
  <%= link_to_add_association '場所追加', f, :inner_sashs,
  data: {
    association_insertion_node: '#detail-association-insertion-point',
    association_insertion_method: 'after'
  }%>
  <div class="form_group">
    <%= f.submit '次へ' %>
  </div>
<% end %>