<!-- pc用 -->
<%= turbo_stream_flash %>
<%= turbo_stream.update "bulk-order-link", class: 'col' do %>
  <div class="row justify-content-center">
    <%= render 'bulk_order_link', devise: 'pc' %>
  </div>
<% end %>

<%= turbo_stream.update "site-memos-list-pc" do %>
  <%= render @site_memos %>
<% end %>