<%= link_to '現場追加', sites_new_path %>

  <table>
    <tr>
      <th>元請</th>
      <th>現場名</th>
      <th>現調日</th>
      <th>工事日</th>
    </tr>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.contractor.name %></td>
        <td><%= site.name %></td>
        <td><%= check_schedule(site.research_date) %></td>
        <td><%= check_schedule(site.construction_date) %></td>
        <td><%= link_to 'メモへ', site_memos_index_path(site.id) %></td>
      </tr>
    <% end %>
  </table>