<!-- モバイル用 -->
<section class='d-lg-none' id="mobile">
  <div class="container" style="margin-top: 5vh;">
    <div class="row justify-content-center">
      <div class="row justify-content-end p-3 mb-lg-5 z-3">
        <%= link_to sites_new_path, class: 'btn-circle submit-btn col-3 col-md-4 col-lg-2 p-0 text-center' do %>
          <i class="bi bi-plus plus"></i>
        <% end %>
      </div>
      <div class='index'>
        <%= turbo_frame_tag 'sites-list', class: 'row justify-content-center' do %>
          <%= render @sites %>
          <%= paginate @sites, theme: 'bootstrap-5' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- pc用 -->
<section id="pc" class='d-none d-lg-block'>
  <div class="container" style="margin-top: 15vh;">
    <div class='row'>
      <div class="row border-bottom mb-3 p-3 text-center">
        <h5 class="col fw-bold">元請け</h5>
        <h5 class="col fw-bold">現場名</h5>
        <h5 class="col fw-bold">現調日</h5>
        <h5 class="col fw-bold">工事日</h5>
        <h5 class="col fw-bold">状態</h5>
        <div class='col row justify-content-center'>
          <%= link_to sites_new_path, class: 'btn btn-primary px-2 d-flex col-10 col-xl-8 h-75' do %>
            <i class="bi bi-plus h3 align-self-center m-0"></i>
            <span class='col align-self-center'>現場追加</span>
          <% end %>
        </div>
      </div>
      <div>
        <%= turbo_frame_tag 'sites-list' do %>
          <%= render @sites %>
          <%= paginate @sites, theme: 'bootstrap-5' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= stylesheet_link_tag "sites/index", "data-turbo-track": "reload" %>