<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to "SashMemo", sites_index_path, class: 'navbar-brand bright-color' %>
      <button class="navbar-toggler navbar-toggler-custom cancel-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#list-contents" 
              aria-controls="list-contents" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class='navbar-nav mb-0 ms-auto'>
          <li class="nav-item dropdown pe-5">
            <%= link_to '現場メモ', 'javascript:void(0)', class: 'nav-link dropdown-toggle bright-color',
                id: 'navbarDropdown', role: 'button', 'data-bs-toggle': :dropdown, 'aria-expanded': :false %>
            <div class="dropdown-menu dropdown-menu-custom">
              <%= link_to '現場一覧', sites_index_path, class: 'dropdown-item link-custom' %>
              <%= link_to '現場追加', sites_new_path, class: 'dropdown-item link-custom' %>  
            </div>
          </li>
          <li class='nav-item dropdown pe-5'>
            <%= link_to 'アカウント', 'javascript:void(0)', class: 'nav-link dropdown-toggle bright-color',
                id: 'navbarDropdown', role: 'button', 'data-bs-toggle': :dropdown, 'aria-expanded': :false %>
            <div class="dropdown-menu dropdown-menu-custom">
              <%= link_to 'ログアウト', destroy_user_session_path, class: 'nav-link link-custom', data: { turbo_method: :delete }%>
            </div>
          </li>
        </ul>
      </div>
      <div class="offcanvas offcanvas-end d-lg-none" tabiindex='-1' id='list-contents' aria-labellebdy='offcanvasNavbarLabel'>
        <div class='offcanvas-header'>
          <button type='button' class="btn-close text-reset cancel-shadow" data-bs-dismiss='offcanvas' aria-label='close'></button>
        </div>
        <div class="offcanvas-body pt-1">
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item border-bottom p-2">
              <%= link_to 'ホーム', root_path, class: 'nav-link link-custom' %>
            </li>
            <li class="nav-item border-bottom p-2">
              <%= link_to '現場一覧', sites_index_path, class: 'nav-link link-custom' %>
            </li>
            <li class="nav-item border-bottom p-2">
              <%= link_to '現場追加', sites_new_path, class: 'nav-link link-custom' %>
            </li>
            <li class="nav-item border-bottom p-2">
              <%= link_to 'ログアウト', destroy_user_session_path, class: 'nav-link link-custom', data: { turbo_method: :delete }%>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "SashMemo", root_path, class: 'navbar-brand bright-color' %>
      <ul class="navbar-nav d-none d-lg-flex">
        <li class="nav-item pe-5 justify-content-center">
          <%= link_to 'ログイン' , sign_in_index_path, class: 'nav-link bright-color'%>
        </li>
        <li class="nav-item pe-5 justify-content-center">
          <%= link_to '新規登録' , sign_up_index_path, class: 'nav-link bright-color' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>